VITE_TMDB_TOKEN=
VITE_WATCH_REGION=US
PORT=3000
STRIMIO_ALLOW_UNVERIFIED=false
STRIMIO_LANGUAGES=lat,spa,eng
TMDB_API_KEY=
TMDB_BEARER_TOKEN=
OPENSUBTITLES_API_KEY=
OPENSUBTITLES_USER_AGENT=StrimioDev v0.1.0
SUBDL_API_KEY=
ANIME_PROVIDER_BASE_URL=
ANIME_SCRAPER_BASE_URL=
ANIME_SCRAPER_SEARCH_PATH=/search.html?keyword={query}
ANIME_SCRAPER_EPISODE_PATH_TEMPLATE=
